body {
  margin:0;
  padding:0;
  background-image: url(img/connectwork.png);
 }
hr{
  border: 0;
  bottom: 14px;
  position: relative;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 55, 255, 0.75), rgba(0, 0, 0, 0));

}
.ack{
  margin: 0px;
}

.marker {
  background-image: url(img/icons8-marker-filled-50.png);
  background-size: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;

}
#map {
  top:0;
  bottom:0;
  width:100%;
 }
 .mapboxgl-map{
   height: 100%;
   width: 100%;
 }
 h1,h2{
   font-family: 'Open Sans Condensed', sans-serif;
   text-align: center;
 }
 .content{
   height: 50%;
   width: 100%
 }
 .heading{
   background-color: #705e5e;
 }
 .kos{
   margin-top: 0px;
   text-align: center;
 }
 .infoKos{
   color: #705e5e;
 }
@media screen and (max-width: 450px)  {
  p{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #map{
    height: 50%;
    position:absolute;
  }
  .popUp{
    width: 25%;
    height: 30%;

  }
  .content{
    position: relative;
    padding-top: 10px;
    top: 470px;
  }
  .infoKos{
    font-size: 110%;
    height: 100%;
    font-size: 125%;
    width: 100%;

  }
  .infoKosCon{
    position: relative;
  }
  .signPic{
    width: 100%;
    position: relative;
    bottom: 10px;
    padding-bottom: 10px;
  }
  .selectedOptions{
    float: right;
    position: relative;
    bottom:56px;
    right: 5%;
  }
  h4{
    font-size: 135%;
  }


}
@media screen and (min-width:450px) and (max-width: 1200px)  {
  #map{
    width: 50%;
    float: left;
    position: absolute;
    height: 100%;
  }
  .content{
    width: 50%;
    height: 100%;
    float: right;
  }
  .infoKos{
    float: right;
    font-size: 140%;
    position: relative;
    bottom: 25px;
    height: 100%;
  }
  .signPic{
    width: 100%;
  }
  .heading{
    width: 100%;
    text-align: center;
  }
  .selectedOptions{
    float: right;
    position: relative;
    bottom:57px;
    right: 5%;
  }
  .list{
    margin-bottom: 0px;
    position: relative;
    bottom: 15px;
  }
  .imageCon{
    max-height: 300px;
  }
  .signPic{
    width: 100%;
    max-height: 300px;
  }
  .popUp{
    font-size: 135%;
    z-index: 4;
  }

}
@media screen and (min-width:1200px) {
  #map{
    width:50%;
    float: left;
    height: 100%;
    position: absolute;

  }
  .content{
    height: 99%;
    width: 50%;
    float: right;
  }
  .infoKos{
    float: right;
    height: 95%;
    position:relative;
    bottom: 10px;
    font-size: 125%;
  }
  .imageCon{
    max-height: 450px;
  }
  .signPic{
    width: 100%;
    max-height: 450px;
  }
  .popUp{
    font-size: 135%;
  }
  .selectedOptions{
    float: right;
    position: relative;
    bottom:44px;
    right: 5%;
  }
  .heading{
    width: 100%;
    text-align: center;
  }
  .kos{
    margin-bottom: 0px;
  }
  .list{
    margin-bottom: 0px;
  }


}
